body{
    background-color: darkcyan;
}
p{
    color: rgb(27, 255, 244);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(175, 255, 255);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}